.about{
    color: white;
    background-color: rgb(17, 34, 45);
    width: fit-content;
    height: 130vh;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}

.about-img{
    width:25vw;
    height: 65vh;
    border-radius:50%;
    position: relative;
    top: -220px;
    left: 120px;
    /*border: 4px solid #6AADF8;*/
}

.about p{
    font-family: "Open Sans", serif;
    font-weight: normal;
}

.about>h1{
    font-size: 48px;
    font-weight: bolder;
    padding: 10px 180px;
    position: relative;
    right: 90px;
    top: -28px;
    width: fit-content;
    font-family: "Open Sans", serif;
}

.about-tittle>h3{
    width: fit-content;
    font-size: 40px;
    line-height: 15px;
    position: relative;
    left: 660px;
    bottom: 315px;
    top: 20px;
    font-family: "Open Sans", serif;
}

.about-tittle>p{
    font-size: 20px;
    line-height: 35px;
    width: 42%;
    padding: 2px 5px;
    position: relative;
    left: 660px;
    bottom: 315px;
    top: 20px;
    font-family: "Open Sans", serif;
}

.second-para p{
    font-size: 20px;
    line-height: 35px;
    width: 53%;
    padding: 2px 5px;
    position: relative;
    top: 20px;
    left: 660px;
    bottom: 315px;
    font-family: "Open Sans", serif;

}

.detail>ul>li{
    width: fit-content;
    font-size: 18px;
    position: relative;
    left: 685px;
    bottom: 205px;
    right: 10px;
    top: -440px;
    font-family: "Open Sans", serif;

}

.about>hr{
    width: 1150px;
    position: relative;
    top: 56px;
    left: 151px;
    height: 2px;
    border-radius: 15px;
    background-color: white;
}

.about #hr{
    width: 60px;
    position: relative;
    top: 44px;
    left: -724px;
    height: 2px;
    border-radius: 15px;
    background-color: white;
}

.button02 #btn01 {
    width: 145px;
    height: 55px;
    border-radius: 18px;
    font-size: 15px;
    background-color: #162837;
    color:#6AADF8;
    border:2px solid #6AADF8;
    box-shadow: 0 0 1px #6AADF8;
    font-weight: bold;
    position: relative;
    left: 670px;
    bottom: 315px;
    top: 30px;
    right: 10px;
    transition-duration: 800ms;
    cursor: pointer;
}

.button02 #btn01:hover{
    background-color: #6AADF8;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 10px #6AADF8;
}

.button02 #btn02{
    width: 145px;
    height: 55px;
    border-radius: 18px;
    font-size: 15px;
    color: #6AADF8;
    background-color: #162837;
    border:2px solid #6AADF8;
    box-shadow: 0 0 1px #6AADF8;
    font-weight: 700;
    position: relative;
    left: 680px;
    bottom: 315px;
    top: 30px;
    right: 25px;
    transition-duration: 800ms;
    cursor: pointer;
}

.button02 #btn02:hover{
    background-color: #6AADF8;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 10px #6AADF8;
}

.button02{
    width: fit-content;
    position: relative;
    left: 440px;
    top: -540px;
    right: 5px;
}

@media all and (max-width: 500px) and (min-height: 675px) {

    body{
        overflow-x: hidden;
    }
    .about{
        height: 150vh;
    }

    .about>hr{
        display:none;
    }

    .about #hr{
        display: none;
    }

    .about-img{
        width: 46vw;
        height: 36vh;
        position: relative;
        top: -353px;
        left: 125px;
    }

    .about>h1{
        font-size: 29px;
        font-weight: bolder;
        padding: 10px 180px;
        position: relative;
        right: 6px;
        top: 7px;
        width: fit-content;
        font-family: "Open Sans", serif;
    }

    .about-tittle>h3{
        width: fit-content;
        font-size: 25px;
        line-height: 15px;
        position: relative;
        left: 60px;
        bottom: 315px;
        top: 323px;
        font-family: "Open Sans", serif;
    }

    .about-tittle>p{
        font-size: 16px;
        line-height: 28px;
        width: 78%;
        padding: 2px 5px;
        position: relative;
        left: 55px;
        /* bottom: 312px; */
        top: 315px;
        font-family: "Open Sans", serif;
    }

    .second-para p{
        font-size: 16px;
        line-height: 27px;
        width: 84%;
        padding: 2px 5px;
        position: relative;
        top: 302px;
        left: 55px;
        bottom: 315px;
        font-family: "Open Sans", serif;
    }

    .detail>ul>li{
        font-size: 14px;
        position: relative;
        left: 78px;
        font-weight: lighter;
        top: 38px;
    }

    .button02 #btn01 {
        width: 107px;
        height: 36px;
        border-radius: 12px;
        font-size: 9px;
        position: relative;
        left: -371px;
        bottom: 15px;
        top: 585px;
        right: 8px;
    }

    .button02 #btn02{
        width: 107px;
        height: 36px;
        border-radius: 12px;
        font-size: 9px;
        position: relative;
        left: -360px;
        bottom: 15px;
        top: 585px;
        right: 25px;
    }
}

@media all and (max-width: 425px) and (min-height: 675px) {
    .about{
        height: 190vh;
        overflow-x: hidden;
    }

    .about>hr{
        display:none;
    }

    .about #hr{
        display: none;
    }

    .about-img{
        width: 46vw;
        height: 36vh;
        position: relative;
        top: -353px;
        left: 125px;
    }

    .about>h1{
        font-size: 29px;
        font-weight: bolder;
        padding: 10px 180px;
        position: relative;
        right: 6px;
        top: 7px;
        width: fit-content;
        font-family: "Open Sans", serif;
    }

    .about-tittle>h3{
        width: fit-content;
        font-size: 25px;
        line-height: 15px;
        position: relative;
        left: 60px;
        bottom: 315px;
        top: 323px;
        font-family: "Open Sans", serif;
    }

    .about-tittle>p{
        font-size: 16px;
        line-height: 28px;
        width: 78%;
        padding: 2px 5px;
        position: relative;
        left: 55px;
        /* bottom: 312px; */
        top: 315px;
        font-family: "Open Sans", serif;
    }

    .second-para p{
        font-size: 16px;
        line-height: 27px;
        width: 84%;
        padding: 2px 5px;
        position: relative;
        top: 302px;
        left: 55px;
        bottom: 315px;
        font-family: "Open Sans", serif;
    }

    .detail>ul>li{
        font-size: 14px;
        position: relative;
        left: 78px;
        font-weight: lighter;
        top: 38px;
    }

    .button02 #btn01 {
        width: 107px;
        height: 36px;
        border-radius: 12px;
        font-size: 9px;
        position: relative;
        left: -371px;
        bottom: 15px;
        top: 585px;
        right: 8px;
    }

    .button02 #btn02{
        width: 107px;
        height: 36px;
        border-radius: 12px;
        font-size: 9px;
        position: relative;
        left: -360px;
        bottom: 15px;
        top: 585px;
        right: 25px;
    }
}