/* General Styles */

/* Container */
.assignment-container {
    padding: 30px;
}

.header-assignment {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 270px;
    margin-bottom: 30px;
}

.assignments-first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.assignments-second-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.assignments-card {
    width: 23vw;
    height: 75vh;
    background-color: #244160;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    top: 320px;
    transition-duration: 500ms;
}

.card:hover {
    transform: scale(1.1);
}

.assignments-card h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}


.assignments-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.assignments-card p{
    font-size: 22px;
    line-height: 1.6;
    text-align: center;
    margin-top: 90px;
}

.assignments-btn {
    width: 180px;
    height: 44px;
    border-radius: 18px;
    font-size: 15px;
    background-color: #1e425f;
    color: #6AADF8;
    border: 2px solid #6AADF8;
    box-shadow: 0 0 1px #6AADF8;
    position: relative;
    left: 75px;
    top: 70px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.view-more {
    width: 180px;
    height: 44px;
    border-radius: 18px;
    font-size: 15px;
    background-color: #1e425f;
    color: #6AADF8;
    border: 2px solid #6AADF8;
    box-shadow: 0 0 1px #6AADF8;
    position: relative;
    left: 75px;
    top: 70px;
    padding: 8px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.assignments-cases01{
    width: 20vw;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -140px;
}

.view-more img {
    width: 16px;
    height: 16px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .assignments {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .assignments {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn {
        padding: 6px;
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .assignments {
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        font-size: 28px;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .assignments {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn {
        font-size: 12px;
        padding: 5px;
    }
}
