* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(30, 39, 46);
    color: white;
}

.assignment-container {
    max-width: 1200px;
    margin-left: -20px;
    padding: 90px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    color: white;
}

.header-assignment {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    grid-column: 1 / -1;
}

.assignments-card {
    width: 30vw;
    height: 30vh;
    color: black;
    background: rgba(255, 215, 0, 0.48);
    position: relative;
    top: 0%;
    border: 2px solid gold;
    border-radius: 30px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px gold;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

.assignments-card:hover {
    transform: scale(0.97);
}

.assignments-card h2 {
    width: 100%;
    line-height: 1.3;
    font-size: 24px;
    position: absolute;
    left: 0%;
    right: 0;
    top: 5%;
    /*bottom: 0;*/
    margin: auto;
    text-align: center;
}

.assignments-card p {
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    font-weight: 500;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.assignments-card i{
    font-size: 38px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    /*top: 20px;*/
}

.footer-section {
    padding: 40px 20px;
    color:white;
    height:50vh;
    margin-top: 30px;
    position: relative;
    top: 50px;
}

.footer-section .container {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;

}

.footer-section hr {
    border: none;
    height: 1px;
    background-color: gold;
    margin-bottom: 30px;
}


.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    /*background-color: white;*/
    border-radius: 50%;
    border: 2px solid gold;
    color: gold;
    font-size: 2.0rem;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px gold;
}

.social-links a:hover {
    transform: translateY(-5px);
    background-color: gold;
    color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.detail {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.detail p {
    position: relative;
    margin: 0;
    padding: 0 15px;
    font-size: 1.7rem;
    color: gold;
}


.copyright {
    font-size: 1.4rem;
    margin-top: 20px;
    color: gold;
}

@media (min-width: 651px) and (max-width: 1023px) {

    .footer-section {
        height:70vh;
        position: relative;
        top:700px
    }
    .detail p {
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 1rem;
    }
}

@media (min-width: 376px) and (max-width:650px) {
    .footer-section {
        height: 10vh;
    }

    .social-links {
        gap: 12px;
    }

    .detail p {
        font-size: 1.0rem;
    }

    .social-links a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media (min-width: 200px) and (max-width:376px ) {
    .footer-section {
        height: 15vh;
    }

    .social-links {
        gap: 12px;
    }

    .detail p {
        font-size: 1.0rem;
    }

    .social-links a {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 0.8rem;
        line-height: 1.6;
    }
}


.assignments-card a{
    text-decoration: none;
    color: black;
}

@media (min-width: 1251px) and (max-width: 1500px){
    .assignment-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .assignments-card {
        width: 30vw;
        height: 38vh;
    }

}


@media (min-width: 1024px) and (max-width: 1250px){
    .assignment-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .assignments-card {
        width: 45vw;
        height: 34vh;
    }

}

@media (min-width: 651px) and (max-width: 1023px) {
    .assignment-container {
        height: 190vh;
        grid-template-columns: repeat(2, 1fr);
        /*overflow-x: hidden;*/
    }

    .assignments-card {
        width: 45vw;
        height: 40vh;
    }
}


@media (min-width: 379px) and (max-width: 650px) {
    .assignment-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .assignments-card {
        width: 90vw;
        height: 40vh;
    }

    .assignments-card .header-assignment{
        font-size: 35px;
    }

}

@media (min-width: 320px) and (max-width: 378px) {
    .assignment-container {
        grid-template-columns: 1fr;
        padding: 60px 10px;
        overflow-x: hidden;
    }
    .assignment-container .header-assignment{
        font-size: 30px;
    }

    .assignments-card {
        width: 90vw;
        height: 45vh;
        margin-left: 25px;
    }

    .assignments-card h2{
        font-size: 22px;
    }
    .project-card p{
        font-size: 15px;
    }

    .project-button{
        font-size: 16px;
        width: 150px;
        position: absolute;
        top: 2050px;
    }

    .project-card i{
        font-size: 35px;
        position: absolute;
        top: 220px;
        left: 220px;
    }
}
