.contact-section{
    color: white;
    height: 125vh;
    font-family: "Open Sans",sans-serif;
    background-color: rgb(17, 34, 45);
    position: relative;
}

#contact{
    font-size: 48px;
    position: relative;
    left: 120px;
    top: 50px;
}

.contact-section h4{
    font-size: 25px;
}

.contact-section h5{
    font-size: 20px;
}

.phone i{
    display: inline-flex;
    font-size: 30px;
    position: relative;
    top: 132px;
    left: 226px;
    right: 20px;
    padding: 10px;
    border: 2px solid #6AADF8;
    border-radius: 50%;
    color: #6AADF8;
    margin: 0 8px;
    transition-duration: 800ms;
    cursor: pointer;
}

.phone i:hover{
    background-color:#6AADF8;
    color:  black;
    box-shadow: 0 0 10px #6AADF8;
    transform: scale(1.1);
}

.phone h4{
    position: relative;
    margin-left: 310px;
    top: 189px;
}
.phone h5{
    position: relative;
    margin-left: 310px;
    top: 75px;
}

.email i{
    display: inline-flex;
    font-size: 30px;
    position: relative;
    top: -4px;
    left: 226px;
    right: 20px;
    padding: 10px;
    border: 2px solid #6AADF8;
    border-radius: 50%;
    color: #6AADF8;
    margin: 0 8px;
    transition-duration: 800ms;
    cursor: pointer;
}

.email i:hover{
    background-color:#6AADF8;
    color:  black;
    box-shadow: 0 0 10px #6AADF8;
    transform: scale(1.1);
}

.email h4{
    position: relative;
    margin-left: 310px;
    top: 111px;
}
.email h5{
    position: relative;
    margin-left: 310px;
    top: 84px;
}


.location i{
    display: inline-flex;
    font-size: 30px;
    position: relative;
    top: -29px;
    left: 226px;
    right: 20px;
    padding: 10px;
    border: 2px solid #6AADF8;
    border-radius: 50%;
    color: #6AADF8;
    margin: 0 8px;
    transition-duration: 800ms;
    cursor: pointer;
}

.location i:hover{
    background-color:#6AADF8;
    color:  black;
    box-shadow: 0 0 10px #6AADF8;
    transform: scale(1.1);
}

.location h4{
    position: relative;
    margin-left: 310px;
    top: 32px;
}

.location h5{
    position: relative;
    margin-left: 310px;
    top: -84px;
}

.form{
    width: 33vw;
    height: 75vh;
    background-color: #2B5175;
    border-radius: 20px;
    position: absolute;
    right: 170px;
    top: 194px;
    border:2px solid #6AADF8;
}

.inputs{
    position: relative;
    left: 58px;
    top: 43px;
    align-items: center;
}

.inputs #firstName{
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #6AADF8;
}


.inputs #lastName{
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #6AADF8;

}

.inputs #email{
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #6AADF8;

}

.inputs #textArea{
    width: 400px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid #6AADF8;

}

#submit{
    width: 120px;
    height: 45px;
    font-weight: bolder;
    border: 3px solid #6AADF8;
    border-radius: 10px;
}

input::placeholder{
    font-size: 18px;
    font-weight: lighter;
    position: relative;
    left: 20px ;
}

textarea::placeholder{
    font-size: 18px;
    position: relative;
    top: 20px;

}

.detail-contact{
    position: relative;
    top: 44px;
}