.education{
    color: white;
    width: 100vw;
    height: 135vh;
}

.education>fieldset{
    width: 55vw;
    height: 85vh;
    position: relative;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 160px;
    margin: auto;
    background-color:#2B5175;
    border-radius: 30px;
    border: 3px solid #66a2e4;
    transition-duration: 800ms;
}

.education>fieldset:hover{
    transform: scale(1.1);
}

.education h1{
    font-size: 48px;
    position: relative;
    top: 30px;
    text-align: center;

}

.education hr{
    height: 1px;
    background-color: black;
    border-color: black;
    border-radius: 20px;
    width: 800px;

}

.education ul li{
    font-size: 16px;
    font-family: "Open Sans", serif;
    line-height: 28px;
    position: relative;

}

#para01 #id01{
    width: 75%;
}

#para02 #id02{
    width: 65%;
}

#para02 #id03{
    width: 75%
}

#para03 #id04{
    width: 68%
}

#para04 #id05{
    width: 68%
}

#para01 hr{
    position: relative;
    top: -60px;
    height: 1px;
}


#para01 li{
    top: 10px;
    left: 180px;
}

#para02 li{
    top: -50px;
    left: 180px;
}

#para03 li{
    top: -110px;
    left: 180px;
}

#para02 hr{
    position: relative;
    top: -120px;
}

#para03 hr{
    position: relative;
    top: -170px;
}

#para04 li{
    top: -160px;
    left: 180px;
}

.pic-01{
    border: 3px solid #66a2e4;
    border-radius: 10px;
    position: relative;
    bottom: 80px;
    left: 48px;
    width: 70px;
}

.education img{
    transition-duration: 800ms;
}

.education img:hover{
    transform: scale(1.1);
    opacity: 10.8;
}

.pic-02{
    border: 3px solid #66a2e4;
    border-radius: 10px;
    position: relative;
    bottom: 168px;
    left: 48px;
    width: 70px;
}

.pic-03{
    border: 3px solid #66a2e4;
    border-radius: 10px;
    position: relative;
    bottom: 180px;
    left: 48px;
    width: 70px;
}

.pic-04{
    border: 3px solid #66a2e4;
    border-radius: 10px;
    position: relative;
    bottom: 230px;
    left: 30px;
    width: 100px;
}
.education>hr{
    width: 590px;
    height: 3px;
    background-color: white;
    position: relative;
    top: 105px;
    left:440px;
}
.education #hr2{
    width: 600px;
    height: 2px;
    background-color: white;
    position: relative;
    top: 90px;
    left:-450px;
}

@media all and (max-width: 500px)  {
    .education>hr{
        display: none;
    }


    .education{
        height: 95vh;
    }

    .education #hr2{
        display: none;
    }

    .education>fieldset{
        width: 17vw;
        height: 65vh;
        position: relative;
        top: 70px;
        left: -8px;
        right: 10px;
        bottom: 160px;
    }

    .education h1{
        font-size: 29px;
        position: relative;
        left: -15px;
        top: 30px;
        text-align: center;

    }

    .education ul li{
        font-size: 12px;
        line-height: 24px;
        position: relative;

    }

    .pic-01{
        position: relative;
        bottom: 80px;
        left: 18px;
        width: 40px;
    }

    .pic-02{
        position: relative;
        bottom: 168px;
        left: 18px;
        width: 40px;
    }

    .pic-03{
        position: relative;
        bottom: 180px;
        left: 18px;
        width: 40px;
    }

    .pic-04{
        position: relative;
        bottom: 220px;
        left: 10px;
        width: 60px;
    }

    .education hr{
        width: 400px;

    }

    #para01 li{
        top: -5px;
        left: 85px;
    }

    #para02 li{
        top: -65px;
        left: 80px;
    }

    #para03 li{
        top: -120px;
        left: 85px;
    }

    #para02 hr{
        position: relative;
        top: -120px;
    }

    #para04 li{
        top: -160px;
        left: 90px;
    }
}