body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #162837;
    color: #ffffff;
}

.navbar {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    background-color: #162837;
    border-bottom: 1px solid #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 40px;
}

.nav-links li a:hover {
    color: #5daeff;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
/padding: 50px;/
}


.content {
    max-width: 50%;
    position: relative;
    top: 90px;
    left: 149px;
}

.content h2 {
    font-size: 25px;
    position: relative;
    top: 60px;
}

.content h1 {
    width: 50%;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    top: 30px;
}

.content h3 {
    width: 50%;
    font-size: 28px;
    color: #5daeff;
    line-height: 1.6;
    position: relative;
}

.content p {
    width: 83%;
    font-size: 20px;
    line-height: 1.6;
    margin-top: -15px;
}

/*.social-icons {*/
/*    margin-top: 20px;*/
/*}*/

.nav-icons a {
    display: inline-flex;
    font-size: 24px;
    border: 2px solid #6AADF8;
    padding: 10px;
    border-radius: 50%;
    color: #6AADF8;
    margin: 0 5px;
    transition-duration: 900ms;
    text-decoration: none;
    position: relative;
    left: -6px;
}

.nav-icons a:hover {
    background-color: #6AADF8;
    color:  #1f242d;
    box-shadow: 0 0 10px #6AADF8;
    transform: scale(1.1);
}

.follow-btn {
    width: 120px;
    height: 45px;
    border-radius: 18px;
    font-size: 15px;
    color: #6AADF8;
    background-color: #162837;
    border: 2px solid #6AADF8;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    top: -46px;
    left: 251px;
    transition-duration:800ms;
}

.follow-btn:hover {
    background-color:#6AADF8 ;
    transform: scale(1.1);
    color: black;
    box-shadow: 0 0 10px #6AADF8;
}


.profile-pic img {
    width: 300px;
    height: 440px;
    margin-right: 120px;
    border-radius: 50%;
    position: relative;
    top: 90px;
}

#menu-bar{
    width: 35px;
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0px;
    margin: auto;
    display: none;
}


/*#menu-bar{*/
/*    font-size: 40px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*/bottom: -20px;/*/
/*margin: auto;*/
/*    display: none;*/
/*}*/

@media screen and (min-width: 501px) and (max-width: 800px) {
    .home {
        flex-direction: column;
        align-items: center;

        padding: 20px;
    }

    .content {
        margin-left: 0;
        padding: 15px;
        position: relative;
        top: 40px;
        left: -50px;
    }

    .content h1 {
        font-size: 36px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content h3 {
        font-size: 22px;
        width: 100%;
    }

    .content p {
        font-size: 16px;
        width: 100%;
        line-height: 1.4;
    }

    .profile-pic img {
        width: 200px;
        height: auto;
        position: relative;
        top: -370px;
        left: 300px;
        border-radius: 50%;
        margin: 15px auto;
    }

    .social-icons {
        font-size: 10px;
        justify-content: center;
        margin-top: 15px;
    }

    .project-section{
        display: none;
    }

    .follow-btn {

    }
}


@media screen and (min-width: 320px) and (max-width: 500px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .content {
        max-width: 90%;
        margin-left: 0;
        padding: 15px;
        position: relative;
        left:30px;
        top: 410px;
    }

    .content h1 {
        font-size: 36px;
        width: 100%;
    }

    .content h2 {
        font-size: 22px;
        top: 40px;
    }

    .content h3 {
        font-size: 24px;
        width: 100%;
    }

    .content p {
        font-size: 18px;
        width: 100%;
        line-height: 1.5;
    }

    .profile-pic img {
        width: 220px;
        height: auto;
        border-radius: 50%;
        margin: 20px auto;
        top: -450px;
        left: 30px;
    }

    .social-icons {
        justify-content: center;
        margin-top: 15px;
        margin-right: -10px;
        margin-left: 25px;

    }

    .follow-btn {
        display: block;
        margin: 20px auto 0;
        left: 0;
        top: 0;
    }

    .nav-links {
        gap: 10px;
    }

    .navbar{
        width: 100%;
    }

    .nav-links li a {
        display: none;
    }

    #menu-bar{
        display: block;
    }

    .nav-links li a {
        font-size: 14px;
        right: 0;
    }


    .project-section{
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .content h1 {
        font-size: 28px;
    }

    .content h2 {
        font-size: 18px;
    }

    .content h3 {
        font-size: 20px;
    }

    .content{
        top: 340px;
    }

    .content p {
        font-size: 14px;
    }

    .profile-pic img {
        width: 160px;
        margin-top: 118px;
    }

    .social-icons a {
        font-size: 20px;
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    #menu-bar{
        display: block;
    }

    .nav-links li a {
        display: none;
    }
}
