.services-section{
    padding: 50px 20px;
    position: relative;
    top:520px ;
}

.services-section h1 {
    font-size: 48px;
    text-align: center;
    position: relative;
    bottom: 80px;
    top: 80px;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 30px;
}

.service-box h3{
    text-align: center;
    line-height: 1.6;
}


.service-box {
    background-color:#244160;
    padding: 10px;
    border: 2px solid #6AADF8;
    border-radius: 20px;
    width: 380px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition-duration: 700ms;
    position: relative;
    top: 100px;
}

.service-box img {
    width: 68px;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    left: 160px;
    top: 60px;
}

.service-box h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    position: relative;
    top: 40px;
}

.text-01{
    width: 100%;
    font-size:18px;
    line-height: 1.6;
    position: relative;
    left: 10px;
    top: 40px;
}

.text-02{
    width: 370px;
    font-size:18px;
    line-height: 1.6;
    position: relative;
    top: 80px;
    left: 20px;
}

.text-03{
    width: 370px;
    font-size:18px;
    line-height: 1.6;
    position: relative;
    top: 80px;
    left: 20px;
}

.service-box:hover {
    transform: scale(0.9);
    box-shadow: 0 0 10px #6AADF8;

}

@media (max-width: 1024px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 512px) and (max-width: 1023px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
    }

    .service-box {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        width: 70%;
        height: auto;
        text-align: center;
        padding: 20px;
        left: 5px;
    }

    .service-box img {
        width: 60px;
        height: auto;
        /*margin-bottom: 15px;*/
        left: 10px;
        top: 20px;
    }

    .service-box h3 {
        font-size: 1.6rem;
        /*margin-bottom: 10px;*/
        left: 130px;
        top: -10px;
        width: 50%;
    }

    .text-01,
    .text-02,
    .text-03 {
        font-size: 16px;
        line-height: 1.5;
        width: 90%;
        left: 30px;
        top: -20px;
    }

    .services-section h1 {
        font-size: 48px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }
    .service-box {
        width: 90%;
        padding: 15px;
    }
}

@media (min-width: 320px) and (max-width: 512px) {
    .service-box {
        width: 300px;
        height: 700px;
        align-items: center;
        position: relative;
        left: 10px;
    }

    .services-section h1{
        left: 30px;
        text-align: center;
    }

    .service-box  p {
        width: 100%;
        text-align: center;
    }

    .text-02{
        position: relative;
        left: 5px;
    }

    .text-03{
        position: relative;
        left: 5px;
    }

    .service-box img {
        position: relative;
        left: 115px;
    }
}