.service-section{
    height: 120vh;
    color: white;
    font-family: "Open Sans",sans-serif;
    position: relative;
}

#services{
    font-size: 48px;
    position: relative;
    text-align: center;
    left: -12px;
    top: -35px;
}

.service-cart01{
    width: 25vw;
    height: 85vh;
    margin: 20px;
    border-radius: 20px;
    background-color: #2B5175;
    border: 2px solid #6AADF8;
    position: absolute;
    left: 107px;
    transition-duration: 800ms;
}

.service-cart01:hover{
    background-color: #032440;
    transform: scale(0.9);
    box-shadow: 0 0 10px #6AADF8;
}

.service-cart01 p{
    width: 90%;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    top: 60px;
    left: 20px;
}

.service-cart01 h4{
    font-size: 26px;
    font-weight: normal;
    color: white;
    align-items: center;
    line-height: 4px;
    position: relative;
    left: 35px;
}

#header01{
    align-items: center;
    position: relative;
    left: 100px;
}

.headers01{
    position: relative;
    top: 56px;
    left: 12px;
}

.images{
    font-size: 20px;
    position: relative;
    left: 125px;
    top: 40px;
}

.service-cart02 {
    width: 25vw;
    height: 85vh;
    border-radius: 20px;
    background-color: #2B5175;
    border: 2px solid #6AADF8;
    position: relative;
    top: 22px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition-duration: 800ms;
}

.service-cart02:hover{
    background-color: #032440;
    transform: scale(0.9);
    box-shadow: 0 0 10px #6AADF8;
}

.service-cart02 h4{
    font-size: 26px;
    font-weight: normal;
    color: white;
    align-items: center;
    line-height: 4px;
    position: relative;
    top: 70px;
    left: 100px;
}

.service-cart02 p{
    width: 90%;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    top: 94px;
    left: 20px;
}

.image02{
    width: 55px;
    font-size: 20px;
    position: relative;
    left: 150px;
    top: 60px;
}


.service-cart03{
    width: 25vw;
    height: 85vh;
    margin: 20px;
    border-radius: 20px;
    background-color: #2B5175;
    border: 2px solid #6AADF8;
    position:absolute;
    right: 110px;
    top: 90px;
    transition-duration: 800ms;
}

.service-cart03:hover{
    background-color: #032440;
    transform: scale(0.9);
    box-shadow: 0 0 10px #6AADF8;

}

.service-cart03 h4{
    font-size: 26px;
    font-weight: normal;
    color: white;
    align-items: center;
    line-height: 4px;
    position: relative;
    top: 70px;
    left: 85px;
}

.service-cart03 p{
    width: 91%;
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    top: 93px;
    left: 20px;
}

.image03{
    font-size: 20px;
    position: relative;
    left: 160px;
    top: 60px;
}