.services-section{
    padding: 50px 20px;
    position: relative;
    top:520px ;
}

.services-section h1 {
    font-size: 48px;
    text-align: center;
    position: relative;
    top: 80px;
    right: 10px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 160px;
    justify-content: center;
}

.service-box h3{
    text-align: center;
    line-height: 1.6;
}


.service-box {
    background-color:#244160;
    padding: 10px;
    border: 2px solid #6AADF8;
    border-radius: 20px;
    gap: -40px;
    width: 400px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.7s ease;
    position: relative;
    top: 80px;
}

.service-box.service-box01{
    position: relative;
    left: 80px;
}
.service-box.service-box03{
    position: relative;
    left: -40px;
}
.service-box.service-box02{
    position: relative;
    left: 20px;
}

.service-box img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    left: 170px;
    top: 10px;
}


.service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    position: relative;
    top: -20px;
}

.text-01{
    width: 95%;
    font-size:18px;
    line-height: 1.6;
    position: relative;
    left: 20px;
    top: -20px;
}

.text-02{
    width: 370px;
    font-size:18px;
    line-height: 1.6;
    position: relative;
    top: -10px;
    left: 20px;
}

.text-03{
    width: 370px;
    font-size:18px;
    line-height: 1.6;
    position: relative;
    top: -10px;
    left: 20px;
}

.service-box:hover {
    transform: scale(0.97);
    box-shadow: 0 0 10px #6AADF8;
    background-color: #173750;


}

@media (min-width: 891px) and (max-width: 1290px) {
    .services-container {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 120px;
    }
    .service-box{
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        width: 70%;
        height: auto;
        text-align: center;
        padding: 20px;
        left: 115px;
        /*top: -900px;*/
    }

    .service-box img {
        width: 60px;
        height: auto;
        left: 10px;
        top: 20px;
    }

    .service-box h3 {
        font-size: 1.6rem;
        left: 160px;
        top: -10px;
        width: 50%;
    }

    .text-01, .text-02, .text-03 {
        font-size: 18px;
        line-height: 1.5;
        width: 90%;
        left: 50px;
        top: -20px;
    }
}

@media all and (min-width: 515px) and (max-width: 890px) {
    .services-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
    }

    .service-box {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        width: 70%;
        height: auto;
        text-align: center;
        padding: 20px;
        left: -15px;
        top: -900px;
    }

    .service-box img {
        width: 60px;
        height: auto;
        left: 10px;
        top: 20px;
    }

    .service-box h3 {
        font-size: 1.6rem;
        left: 130px;
        top: -10px;
        width: 50%;
    }

    .text-01, .text-02, .text-03 {
        font-size: 16px;
        line-height: 1.5;
        width: 90%;
        left: 30px;
        top: -20px;
    }

    .services-section h1 {
        font-size: 48px;
        text-align: center;
        top:-950px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }
    .service-box {
        width: 90%;
        padding: 15px;
    }
}

@media (min-width: 280px) and (max-width: 450px) {
    .service-box {
        width: 300px;
        height: 400px;
        align-items: center;
        position: relative;
        top: -80px;
    }

    .services-section h1{
        left: 30px;
        text-align: center;
        top: -10px;
    }

    .service-box  p {
        width: 100%;
        text-align: center;
    }

    .service-box.service-box01{
        left: 10px;
    }

    .service-box.service-box02{
        left: 10px;
    }

    .service-box.service-box03{
        left: -60px;
    }

    .service-box.service-box03{
        margin-left: 70px;
    }

    .text-01{
        position: relative;
        left: 2px;
    }

    .text-02{
        position: relative;
        left: -2px;
    }

    .text-03{
        position: relative;
        left: 2px;
    }

    .service-box img {
        position: relative;
        left: 115px;
    }
}

@media all and (min-width: 369px) and (max-width: 510px) {
    .service-box.service-box01{
        margin-right: 10px;
    }
}

@media all and (min-width: 400px) and (max-width: 510px) {
    .service-box.service-box01,.service-box.service-box02{
        left: 60px;
    }

    .service-box.service-box03{
        left: -10px;
    }
}

@media all and (min-width: 370px) and (max-width: 398px) {
    .service-box.service-box01,.service-box.service-box02{
        left: 30px;
    }

    .service-box.service-box03{
        left: -40px;
    }
}

@media all and (min-width: 650px) and (max-width: 800px) {
    .service-box.service-box01,.service-box.service-box02,.service-box.service-box03{
        left: 30px;
    }

    .services-section h1{
        left: 20px;
    }
}

@media all and (min-width: 810px) and (max-width: 1200px) {
    .service-box.service-box01,.service-box.service-box02,.service-box.service-box03{
        left: 50px;
    }

    .services-section h1{
        left: 50px;
        top: 170px;
    }
}

