
.skill-container {
    padding: 30px;
    margin-top: 60px;

}

.header-skill {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    top: 120px;
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    position: relative;
    top: 225px;
}

.card {
    background-color: #244160;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #6AADF8;

}

.card h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

#lightroom{
    border-radius: 40px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.icon img {
    width: 50px;
    height: 50px;
}

.icon p {
    margin-top: 5px;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .cards {
        gap: 20px;
        padding: 20px;
    }

    .card {
        width: 260px;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .cards {
        flex-direction: row;
        justify-content: center;
        /*gap: 20px;*/
    }

    .card {
        width: 45%;
    }

}

@media screen and (max-width: 425px) {
    .cards {
        flex-direction: row;
        /*align-items: center;*/
    }

    .card {
        width: 90%;
    }

    h1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top:290px;
        left: 35px;

    }
    .card {
        width: 95%;
    }

    .header-skill{
        font-size: 30px;
        text-align: center;
        left: 20px;
        top: 290px;
        margin-top: 200px;
    }

    .icon img {
        width: 40px;
        height: 40px;
    }

    .icon p {
        font-size: 12px;
    }
}
