*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    /*margin: 0;*/
    /*outline: none;*/

}

/*html{*/
/*    overflow-x: hidden;*/
/*    font-size: 60%;*/
/*}*/

body{
    width: 100vw;
    /*height: 100vh;*/
    background-color: #162837;
    /*overflow-x: hidden;*/
    /*overflow-scrolling: auto;*/
}

.nav-bar {
    background-color: rgb(17, 34, 45);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 3px solid white ;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}

.logo {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 100%;
    right: 70px;
    border: 2px solid #6AADF8;
    transition-duration: 800ms;
}

.logo:hover{
    transform: scale(1.1);
}

nav>a>img{
    width: 45px;
    position: relative;
    right: 25px;
    border-radius: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    left: 140px;
    font-family: "Open Sans", fantasy;

}

.header-nav>ul>li>a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 10px;
    background-color:#6AADF8;
    transition:.5s ;
    bottom: 0;
    top: 25px;

}

.nav-links a:hover{
    color: white;
}

.header-nav>ul>li>a:hover {
    color: #6AADF8 ;
}

.header-nav>ul>li>a:hover::after{
    width: 90%;
}

#\#menu-bar{
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;

    display: none;
}
