*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

section{
    position: static;
}

body{
    /*width: 100vw;*/
    /*height: 100vh;*/
    background-color: #172734;
}


.title>h3{
    font-size: 40px;
    line-height: 10px;
    color: white;
}

.title>h1{
    font-size: 70px;
    line-height: 20px;
    color: white;
}

.title>p{
    width: 40% ;
    font-size: 22px;
    padding: 5px 2px 1px;
    line-height: 35px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.white{
    /*color: ;*/
}

.title .title01{
    color: #6AADF8;
    font-size: 40px;
    line-height: 10px;

}


#button01{
    width: 145px;
    height: 55px;
    border-radius: 18px;
    font-size: 15px;
    background:#6AADF8 ;
    border-color: #6AADF8;
    box-shadow: 0 0 1px #6AADF8;
    font-weight: 700;
    position: relative;
    left: 320px;
    top: 26px;
}

#home-pic{
    width: 100px ;
    height: 100px;
    background-color: white;
    position: relative;
    left: 572px;
    bottom: 381px;
    right: 500px;
}

.nav{
    margin-left: 0px;
}

a{
    color: white;
    text-decoration: none;
}

.nav a{
    display: inline-flex;
    font-size: 30px;
    position: relative;
    top: -28px;
    left: -13px;
    right: 20px;
    padding: 10px;
    border: 2px solid #6AADF8 ;
    border-radius: 50%;
    color: #6AADF8;
    margin: 0 8px;
    transition: .5s;
}

.home .nav a:hover{
    background-color: #6AADF8;
    color:  #1f242d;
    box-shadow: 0 0 10px #6AADF8;
}

.home{
    position: relative;
    left: 135px;
}

.about{
    color: white;
    background-color: rgba(25, 68, 100, 0.76);

}

.about p{
    font-family: "Inter", serif;
    font-weight: normal;
}

.about>h1{
    font-size: 48px;
    font-weight: bolder;
}

.about-tittle>h3{
    font-size: 40px;
    line-height: 15px;
}

.about-tittle>p{
    font-size: 20px;
    line-height: 35px;
    width: 39%;
    padding: 2px 5px;
    position: relative;
    bottom: 22px;

    /*font-weight: n;*/
}

.second-para p{
    font-size: 20px;
    line-height: 35px;
    width: 53%;
    padding: 2px 5px;
    position: relative;
    bottom: 22px;
}

.detail>ul>li{
    font-size: 18px;

}
